@charset "utf-8";

body 
    {
    background: rgb(230, 172, 242);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 25px;
    background: radial-gradient(white 30%, rgb(235, 179, 280));
    }

header
    {
    font-size: 35pt;
    color: #ff00aa;
    text-align: center;
    margin-top: 50px;
    }

nav.toplinks
    {
     display:flex;
     justify-content: space-evenly;
     background-color: teal;
     padding: 5px;
     color: #e3f0f1;
     font-size: 18px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
    }
    nav.toplinks a
    {
        color:#e3f0f1;
    }

nav.toplinks a:hover
        {
            color: rgb(102, 0, 128);
        }

img.animate
        {
        display: block;
        margin: 0 auto;
        width: 200px;
        }

img#flag
    {
    width: 50px;
    }

img#food
    {
    width: 100px;
    padding: 9px;
    }

img.cartoon
    {
    display: block;
    margin: 0 auto;
    width: 200px;
    }

iframe
    {
    display: block;
    margin: 0 auto;
    width: 320px; 
    height: 215px;
    padding: 20px;
    }